/**** Custom Properties ****/

:root {
  --first-color: #3b005f;
  --first-alpha75-color: rgba(59, 0, 95, 0.75);
  --first-alpha50-color: rgba(59, 0, 95, 0.5);
  --first-alpha25-color: rgba(59, 0, 95, 0.25);
  --second-color: #038200;
  --second-alpha75-color: rgba(3, 130, 0, 0.75);
  --second-alpha25-color: rgba(3, 130, 0, 0.25);
  --third-color: #f36600;
  --third-alpha75-color: rgba(243, 102, 0, 0.75);
  --third-alpha25-color: rgba(243, 102, 0, 0.25);
  --link-color: #509ee3;
  --title-color: #f36600;
  --white-color: #ffffff;
  --red-color: #ff0000;
  --gray-light-color: #d6d6d6;
  --gray-color: #949292;
  --gray-dark-color: #6b6b6b;
  --black-color: #000000;
  --white-alpha50-color: rgba(255, 255, 255, 0.5);
  --black-alpha50-color: rgba(0, 0, 0, 0.5);
  --font: "caveat", "sans-serif";
  --max-width: 1200px;
  --box-shadow: 0rem 0rem 2rem rgba(246, 0, 0, 1);
}

/**** Reset ****/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image: url(assets/backgroundjpg.jpg);
}

a {
  color: var(--link-color);
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/**** Components ****/

/* Carousel */
.carousel {
  width: 40vw;
  height: 200px;
  max-width: 260px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
  border: medium solid var(--third-color);
  overflow-x: hidden;
}

.carousel-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: both mandatory;
}

.carousel-slide {
  scroll-snap-align: center;
}

.carousel-slide-content img {
  width: 38.8vw;
  height: 200px;
  max-width: 294px;
  min-width: 194px;
}

/* Circulo de peligro */

.circle svg {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.donut-gradient {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: radial-gradient(
      var(--third-alpha25-color) 10%,
      transparent 90%
    ),
    conic-gradient(var(--red-color) 0% 80%, rgb(139, 0, 0) 80% 100%);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

/* Skills Bars */

.skill,
.percentage {
  width: auto;
  height: auto;
  color: var(--third-color);
  display: inline-block;
  margin: 0;
}

.skill {
  float: left;
  margin-left: 1rem;
}

.percentage {
  float: right;
}

.skill-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
  padding-right: 1.5rem;
}

.skill-container progress {
  width: 95%;
  max-width: 500px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-moz-progress-bar {
  background: red;
}
progress::-webkit-progress-value {
  background: red;
}
progress {
  color: red;
}

::-webkit-progress-bar {
  background-color: var(--gray-dark-color);
}

/* Weapon */

.weapon-container {
  width: 40vw;
  height: 200px;
  max-width: 260px;
  min-width: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: medium solid var(--third-color);
  transition: box-shadow 2s ease-in-out 250ms,
    border-radius 2s ease-in-out 250ms;
}

.weapon-container:hover {
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
}

.weapon1 {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: opacity 2s ease-in-out 250ms;
}

.weapon1:hover {
  opacity: 0;
}

.weapon-blood {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 2s ease-in-out 250ms;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
}

.weapon-blood:hover {
  opacity: 1;
}

/**** Utilities ****/
.title {
  color: var(--third-color);
  width: 85%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 350px;
}
/**** Site Styles ****/

.inicio {
  display: flex;
  flex-direction: column;
}

.inicio audio {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 350px;
  height: 2rem;
}

.inicio img {
  width: 90%;
  max-width: 350px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  object-fit: cover;
  border: medium solid var(--third-color);
  box-shadow: var(--box-shadow);
}

.historia {
  width: 90%;
  max-width: 500px;
  height: 70vh;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--black-color);
  overflow-y: scroll;
  border: medium solid var(--third-color);
}

.historia h4,
p {
  display: inline;
  color: red;
}

.historia p::selection {
  color: var(--second-color);
}

.historia u::selection {
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  body {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(3, auto);
    margin-bottom: 2rem;
  }

  .inicio {
    grid-column: 2/8;
  }

  .inicio h2 {
    margin-bottom: 4rem;
  }

  .description {
    grid-column: 10/16;
  }

  /* grid area: grid-row-start / grid-row-end / grid-column-start / grid-column-end */
  .circle {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 8;
  }

  .circle h3 {
    margin-bottom: 4rem;
  }

  .skills {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 10;
    grid-column-end: 16;
  }

  .weapon {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 6;
  }

  .weapon-container {
    width: 25vw;
    max-width: 300px;
  }

  .carousel {
    width: 25vw;
    max-width: 300px;
  }

  .carousel img {
    width: 100%;
  }

  .enemis {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 11;
  }

  .allies {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 12;
    grid-column-end: 16;
  }
}

@media screen and (min-width: 1024px) {
}
